@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

:root {
    --fonte-padrao: 'Inter', sans-serif;

    --azul-dnc: #0C70F2;
    --preto-dnc: #303030;
    --cinza-hover: #C9C9C9;
}

* {
    font-family: var(--fonte-padrao);

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%), var(--preto-dnc);
    background-repeat: no-repeat;
}

#menu-principal {
    width: 100%;
    height: 100px;
    background-color: var(--preto-dnc);
    border-bottom: solid 1px #BABABA;

    font-size: 25px;
    font-weight: 600;
    color: #FFFFFF;
}

#menu-principal div a {
    font-size: 25px;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
}

#menu-principal div a:hover {
    color: var(--cinza-hover);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 55%;
}

#menu-principal button {
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;

    width: 80px;
    height: 40px;
    background-color: var(--azul-dnc);
    border: 0;
    box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
    margin-right: 5%;

    cursor: pointer;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 100px auto 100px;
}

header {
    color: #FFFFFF;
}

header h1 {
    font-size: 80px;
    font-weight: 800;
    text-align: center;

    margin-bottom: 25px;
}

header h2 {
    font-size: 40px;
    font-weight: 500;
    text-align: center;

    margin-bottom: 200px;
}

header .invert {
    font-weight: 700;

    background-color: #000000;
}

form {
    font-size: 30px;
    color: #FFFFFF;
    font-weight: 600;

    width: 600px;
}

.form-group {
    display: flex;
    flex-direction: column;
    
    margin: 10px auto 10px;
}

form label {
    margin: 10px 0 10px;
}

form input {
    font-size: 20px;

    height: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    border: 0;
    padding: 10px;

}

form input::placeholder {
    color: rgba(57, 57, 57, 0.5);
}

.checkbox-itens {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.checkbox-itens label {
    font-size: 25px;
}

input[type="checkbox"] {
    transform: scale(1.7);
}

input[type="submit"] {
    font-size: 36px;
    color: #FFFFFF;

    width: 100%;
    height: 55px;
    background: rgba(12, 112, 242, 0.9);
    box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
    border-radius: 10px;

    margin-top: 100px;

    cursor: pointer;
}

footer {
    width: 100%;
    background-color: var(--azul-dnc);
}

footer .linha1 {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 50px;
}

footer nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 330px;
}

footer ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

footer h5 {
    text-align: center;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 25px;

    background-color: var(--preto-dnc);
    border-radius: 10px;
    padding: 10px;
}

footer ul li {
    text-align: center;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 600;

    margin: 20px 0px;
}

footer ul li a {
    color: #FFFFFF;
    text-decoration: none;
}

footer ul li a:hover {
    color: var(--cinza-hover);
}

footer .endereco {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 800;
    text-align: center;

    width: 446px;
}

footer .linha2 {
    display: flex;
    justify-content: center;
    padding: 10px;
}

footer .linha2 a{
    font-size: 25px;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px;
}

footer .linha2 a:first-child {
    border-right: 3px solid #FFFFFF;
}

footer .linha2 a:hover {
    color: var(--cinza-hover);
}

@media (max-width: 600px) {
    #menu-principal {
        flex-direction: column;
        height: auto;
    }

    #menu-principal button {
        margin: 0px;
        width: 100%;
    }

    #menu {
        flex-direction: column;
        width: 100%;
    }

    #menu a {
        height: 50px;
        display: flex;
        align-items: center;
    }

    section h1 {
        font-size: 38px;
    }

    section h2 {
        font-size: 28px;
        padding: 0px 15px;
    }

    form {
        width: 85%;
        font-size: 20px;
    }
}